*{margin: 0%;}
#header {width: 100%; height: 20%; background-color: #000033; position: relative;}
#header>img{text-align: center;}
#imgArea {background-image: url("../resources/image/elden-ring-header.gif"); background-repeat: no-repeat; height: 100vh; background-size: 100% 100%; position: relative;}
#login {text-align: center; position:relative; top: 150px;}
.inputs {border: none; border-bottom: solid; border-bottom-color:#3366CC; width: 30%; height: 30px; margin-bottom: 2%; background-color: transparent; color: white; padding-left: 10px;}
.inputs:focus {background-color: #000000; opacity: 0.7;}
.inputs:active {background-color: #000000;}
#btnLogin {border: none; background-color: #6666FF; width: 30%; height: 40px; position: relative; color: white; margin-top: 2%;}
#btnSignUp {border: none; background-color: #003333; width: 30%; height: 40px; position: relative; color: white; margin-top: 2%;}