#header {background-color: rgba(0,0,0,1); position: fixed; width: 100%; height: 10%; top: 0%; z-index: 2;}
#header img {float: left;}
#header h2 {position: absolute; color: white; margin-top: 15px; margin-left: 80px;}